body{
    background:rgb(218, 216, 216);
}
.card1{
width:19%;
/*border: 1px  black;*/
position: relative;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #F9F9F9;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.078);
border-radius: 8px;
box-shadow:0px 2px 8px rgba(0, 0, 0, 0.135216);

}

.star{
    font-style: normal;
    font-weight: 300;
    font-size: 16px; 
    color: white;
}

img{
    margin: 0 auto;
    position:relative;
    left: 50px;
    top: 10px;;
}
label{
    position: static;
    margin-left: 20px;
    font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 14px;
color: black;
}

button{
    background:#6F64F8;
    border: 0px;
    font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 14px;
color: black;
}
.procent{
margin-right: 170px;
width: 50px;
height: 25px;
border-radius: 3px;
color: white;
}

.btn{
padding: 1px;
margin: -2px;
width: 182px;
height: 50px;;
background: #6F64F8;
}

.wish{
background-color: #dad8d8;
border-radius: 0px 0px 0px 8px;
}

.add{
    border-radius: 0px 0px 8px 0px;
    color: white;
    
}

h4{
    color:#0e0d0d;
    top: calc(50% - 19px/2 - 246.5px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
}

p{
    top: calc(50% - 14px/2 - 227px);
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
color: #0e0d0d;
margin-left: 20px;
margin-bottom: 30px;
margin-top: -15px;
}